.form-container {
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid rgb(224, 224, 79);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.font-title {
    font-size: 35px;
    font-weight: 400;
    font-family: lato;
    color: rgb(161, 108, 42);
    margin: 20px;
}

.input-group label {
    display: block;
    margin: 20px;
    margin-bottom: 0;
}

.input-group input {
    width: 415px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 25px;
    margin: 20px;
}

.form-submit {
    color: rgb(63, 39, 10);
    width: 415px;
    height: 55px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: 20px;
    
}

.caa {
    color: red;
    text-decoration: none;
}

p {
    margin: 20px;
}

